<h1>Test Upload</h1>
<div class="container-fluid mt-5">
  <div class="row">
      <div class="col-xs-12 col-md-6">
              <h2 class="display-4 text-center" >Welcome To Coding Stuff</h2>
              <p class="lead text-center">how to install bootstrap in angular 11.</p>
              <hr class="my-4">
      </div>
      <div class="col-xs-12 col-md-6">
              <h2 class="display-4 text-center" >Welcome To Coding Stuff</h2>
              <p class="lead text-center">how to install bootstrap in angular 11.</p>
              <hr class="my-4">
      </div>
  </div>
</div>

